
 /* -----------------------BODY ------------------------------- */ 

 header, nav, main, footer { max-width: 1200px; margin: 0 auto;}



//body{}


/*-------------------- HEADER ------------------------------ */


header {

h1 {

margin-top: 150px; 

}

.phone {
  float: right; 
}

}

/*-------------------- NAV ------------------------------ */

  




/*-------------------- MAIN ------------------------------ */


main {
   
 .card-deck { 
  
  .card {
    flex: 25%; 
    max-width: 25%; 
  }

}
/* ------------------------Column----------------------------- */

.row { 
    max-width: 1200px; 
  
  }
  
  .column{
    -webkit-column-gap: normal; /* Chrome, Safari, Opera */
    -moz-column-gap: normal; /* Firefox */
    
   
  }
  
  @for $i from 1 through 12 {
      $w: ($i / 12) * 100%;
      .lg-#{$i} {width: $w; float: left;}
      
   }    

    
    
    

    
    

}





/*-------------------- FOOTER ------------------------------ */

    
   