
 /* -----------------------BODY ------------------------------- */ 

 header, nav, main, .container-cards, footer, .copyright, .footerSocialIcons { margin: 0 auto; min-width: 1024px; max-width: 1200px;}





/*-------------------- HEADER ------------------------------ */




/*-------------------- NAV ------------------------------ */

  




/*-------------------- MAIN ------------------------------ */


main {
 

.container-cards {


 .cards {

  flex-basis: 20%; 
 }

}

/* ------------------------Column-----------------------------*/ 

.row { 
    max-width: 1200px; 
    
  
  }
  
  .column{
    -webkit-column-gap: normal; /* Chrome, Safari, Opera */
    -moz-column-gap: normal; /* Firefox */
    
   
  }
  
  @for $i from 1 through 12 {
      $w: ($i / 12) * 100%;
      .lg-#{$i} {width: $w; float: left;}
      
   }    

    
    
    

    
    

}





/*-------------------- FOOTER ------------------------------ */




@media only screen and (max-width: 1200px) {




  footer {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto; 
  }


}




  footer {


  .footerInfo-1 {
    grid-column: 1 / span 1; 
  }
 
  
  .footerInfo-2 {
   grid-column: 2 / span 1; 
 }
 
 
 .footerInfo-3 {
   grid-column: 3 / span 1;  
 }
 



  
  }
  


