
 /* -----------------------BODY ------------------------------- */ 

 header, nav, main, footer, .copyright, .footerSocialIcons { margin: 0 auto; max-width: 1200px;}



//body{}


/*-------------------- HEADER ------------------------------ */




/*-------------------- NAV ------------------------------ */

  




/*-------------------- MAIN ------------------------------ */


main {
   
 .card-deck { 
  
  .card {
    flex: 25%; 
    max-width: 25%; 
  }

}
/* ------------------------Column-----------------------------*/ 

.row { 
    max-width: 1200px; 
    min-width: 1024px;  
  
  }
  
  .column{
    -webkit-column-gap: normal; /* Chrome, Safari, Opera */
    -moz-column-gap: normal; /* Firefox */
    
   
  }
  
  @for $i from 1 through 12 {
      $w: ($i / 12) * 100%;
      .lg-#{$i} {width: $w; float: left;}
      
   }    

    
    
    

    
    

}





/*-------------------- FOOTER ------------------------------ */

    
footer {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
   
 


}