
 header, nav, main {margin: 0 auto; max-width: 1024px; }



/* ------------------------HEADER----------------------------- */



header {
display: grid; 
grid-template-columns: 1fr 2fr;


div:nth-child(1) {
  grid-template-columns: 1fr 2fr;
 

}




div:nth-child(2) { 
    grid-template-columns: 1fr 2fr;
    font-size: 30px; 
    color: $secondaryColor; 
   
   
  
  }




  div:nth-child(1) {
  display: grid; 
}

 




  
  }


/* ------------------------NAV----------------------------- */

@media only screen and (min-width: 1200px) {


nav button.primaryBtn {display: none;}

nav {
margin: 0 auto; 


ul.hide {display: block;}

ul {

li { 
  float: left; 

  a {
    display: block; 
    border: none; 
    color: $fontColor; 
    border-right: 1px solid $fontColor; 
    padding: .8rem 1rem; 
  }

  
  a:link, a:visited {
    color: $fontColor; 
    text-decoration: none; 
  }


a:hover {
  background-color: $primaryColor;
  color: $fontColor;  
}

.active a {background-color: $secondaryColor; color: $primaryColor; }

  }





} 






ul li ul.parent {display: none;}

ul li ul li {
   float: none; 
  display: block; 


 a {
 
  display: block; 
  border: none; 
  margin: 0;  
  
}

}



div#search {
 margin-top: 5px; 
  float: right; 
  font-size: 1rem; 
  
  input {
    border-radius: 10px 0px 0px 10px; 
    border: none; 
    margin-right: 0px; 
    padding: 3px 2px 3px 2px; 
  }
  
  button {
    border-radius: 0px 10px 10px 0px;
    border: none;   
    margin-left: -10px;
    font-size: 1rem; 
    padding: 4.5px;  
    color: $primaryColor; 
    border-color: white; 
    
  }

}


}

}



/*-------------------- MAIN ------------------------------ */


main {

 .card-deck { 
  flex: 33%; 
 

 }
/* ------------------------Column----------------------------- */

.row { 
    max-width: 1024px;
    min-width: 650px;  
  
  }
  
  .column{
    -webkit-column-gap: normal; /* Chrome, Safari, Opera */
    -moz-column-gap: normal; /* Firefox */
    
   
  }
  
  @for $i from 1 through 12 {
      $w: ($i / 12) * 100%;
      .md-#{$i} {width: $w; float: left;}
      
   }  
    
    

    
  
    
}




/*----------------FOOTER--------------------*/

footer {
  
  display: grid; 
  grid-template-columns: 1fr 2fr;



}





    
/*----------------END FOOTER--------------------*/