

$primaryColor: #d4af37; 
$secondaryColor: #48d1cc;
$thirdColor: #d4af37; 
$fontColor: #ffffff; 
$fontColor2: #000080; 
$fourthColor: #000000;
$menuColor: #000080; 
$menuTextColor: #ffffff; 


$defaultFont: 'roboto'; 
$normalWeight: 300;  
$boldWeight: 700; 

$gutter: 1%; 
$gutterdbl: (2 * $gutter); 




$grid-breakpoints: (
sm: 650px,
md: 1024, 
lg: 1200, 

);


